<%= render 'layouts/user_header' %>


<div class="mt-3 mb-3 ml-3" id="search-box">
    <%= form_tag('/user/games/index', method: :get) do %>
        <%= text_field_tag :good, "",  id: "good_search", name: "keyword", placeholder: "キーワード入力", style: "width: 200px;"%><button title="検索" type="submit">検索</button>
    <% end %>
 </div>
  
<% if  @keyword.blank? %>
  <h1 class="ml-3">👑最新ランキング👑</h1>
<% else %>
  <h1 class="ml-3">検索ワード🔎『<%= @keyword %>』</h1>
<% end %>
<hr style="height: 10px" class="bg-primary" >
<table class="table">
  <thead>
    <tr>
      <th style="width: 20%"></th>
      <th class="text-center" style="width: 40%">ゲームタイトル</th>
      <th class="text-center" style="width: 20%">メーカー</th>
      <th class="text-center" style="width: 20%">機種</th>
    </tr>
  </thead>
    <%#= @games.count %>
    <%#= pp @games %>
  <tbody>
　  <% @games.each do |game| %>
　      <%#= game.inspect %>
　      <%# 正規表現: 12桁のジャンルコードで006から開始され、次の3桁が505と510を除き、次の3桁は任意の数字で、最後の数字が001-010で終わる。 %>
　      <%# 505と510はフィギュアなどが該当し、最後の001-010はゲームのジャンルである。 %>
　      <% if game.books_genre_id.match?(/^006(?!(505|510)).{3}\d{3}(001|002|003|004|005|006|007|008|009|010)\Z/) %>
         <tr>
           
           <td>
                <%= link_to user_game_path(game.jan) do %>
                　<% if game.medium_image_url %>
                    <%= image_tag game.medium_image_url, size: '150x210'   %>
                　<% end %>
                <% end %>
            </td>
           
            <td class="text-center pt-5"><%= link_to user_game_path(game.jan) do %><%= game.title %><% end %></td>
            
            <td class="text-center pt-5"><%= game["label"] %></td>
            
            <td class="text-center pt-5"><%= game.hardware %></td>
         </tr>
        <% end %>
      <% end %>
  </tbody>    
</table>



<%= render 'layouts/footer' %>